:root {
  --heading-color: #1c2833;
  --text-color: #1b2631;
  --no-focus: gray;
  --tech-used-color: slate;
  --font-size-heading: 12px;
  --font-size-body: 11px;
}

.hidden {
  opacity: 0;
  color: white;

  position: absolute;
  width: 1;
  height: 1;
  left: 0;
  top: 0;
}

.page-break {
  page-break-after: always;
}

@font-face {
  font-family: SSPro;
  src: url(assets/SourceCodePro-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}
blockquote {
  width: 80ch;
}

h1 {
  color: var(--text-color);
  font-size: var(--font-size-heading);
  padding-bottom: 0;
  border-bottom: 1px solid #eaecef;
}

h2 {
  color: var(--text-color);
  font-size: var(--font-size-heading);
  padding-bottom: 0;
}

ol,
ul {
  list-style: square outside;
  margin-top: 0rem;
  padding-left: 1.5rem;
}

.resume-body {
  color: var(--text-color);
  line-height: 1.5;
  font-size: var(--font-size-body);
  font-family: SSPro;
}
