:root {
  --heading-color: #1c2833;
  --text-color: #1b2631;
  --no-focus: gray;
  --tech-used-color: slate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
}

h2 {
  margin: 0;
  margin-bottom: 1rem;
}

h3 {
  margin: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  margin: 0;
  color: var(--no-focus);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h5 {
  margin: 0;
  margin-top: 2rem;
}

h6 {
  font-size: 12px;
  margin: 0;
  margin-bottom: 8px;
  color: var(--tech-used-color);
}

@font-face {
  font-family: SSPro;
  src: url(assets/SourceCodePro-VariableFont_wght.ttf);
}

.resume-body {
  line-height: 1.5;
  font-size: 16px;
  font-family: SSPro;
  color: var(--text-color);
}

.time {
  float: right;
}

.contact {
  float: right;
  font-size: small;
  display: flex;
  align-items: center;
}
