:root {
  --heading-color: #1c2833;
  --text-color: #1b2631;
  --no-focus: gray;
  --tech-used-color: slate;
}

@font-face {
  font-family: SSPro;
  src: url(assets/SourceCodePro-VariableFont_wght.ttf);
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.825rem;
}

ol,
ul {
  list-style: square outside;
}

.resume-body {
  line-height: 1.5;
  font-size: 13px;
  font-family: SSPro;
  color: var(--text-color);
}

.page-break {
  page-break-after: always;
}
